$Cor1: #49C0DB;
$Cor2: rgb(235, 93, 188);
$LetraBotao: transparentize($color: #444242, $amount: 0);
$FonteEstilo: italic;
$CorBorda:#4CD640;
$CorVariancia:#7D40D6;
$CorBackground: rgb(219, 73, 207);
$CorTexto:#505050;